table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}
th, td {
    height: 20px;
    border: 1px solid black;
    text-align: left;
}
.novi-unos *{
    padding: 2px;
    display: block;
}